*
{
  font-family:  "DejaVu Serif", "AR PL UKai TW", "Noto Sans Symbols 2";
  font-size:    14pt;
}

window#waybar
{
  background: #2e3440;
  color:      #d8dee9;
}

#workspaces button
{
  background: #2e3440;
  color:      #d8dee9;
}

#workspaces button.focused
{
  background: #88c0d0;
  color:      #eceff4;
}
